.contactus{
    display: flex;
    justify-content: center;
}
.contact {
    background-color: white;
    padding: 30px;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    height: auto;

}

.contact h1 {
    text-align: center;
    margin-bottom: 20px;
}

.contact p {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}

.form {
    margin-bottom: 15px;

}

.contact label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: none;

}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #0074cc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #28a745;
}
